<div class= 'well'>
  <%= form_for @user do |f| %>
    <div class='control-group'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class='control-group>'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class='control-group>'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class='control-group>'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class='control-group>'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class='control-group>'>
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>
    <div class='control-group>'>
      <%= f.label :height %>
      <%= f.text_field :height %>
    </div>
    <div class='control-group>'>
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    </div>
    <div class='control-group>'>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class='control-group>'>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </div>
    <div class='control-group>'>
      <%= f.label :school %>
      <%= f.text_field :school %>
    </div>
    <div class='control-group>'>
      <%= f.label :school_year %>
        <%= f.fields_for :school_year, @user.build_school_year do |y| %>
        <%= y.collection_select(:id, SchoolYear.all, :id, :school_year) %>
      <% end %>
    </div>
    <div class='control-group>'>
      <%= f.label :position %>
      <%= f.collection_select(:position_ids, Position.all, :id, :position_title, {}, {:multiple => true}) %>
    </div>
    <%= f.submit (@user.new_record? ? 'Register' : 'Update Profile') , class: 'btn btn-success' %>
  <% end %>
</div>
