<div class= 'well'>
  <%= form_for @user do |f| %>
    <div class='control-group'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class='control-group>'>
      <%= f.label :last_name %>
      <%= f.password_field :last_name %>
    </div>
    <div class='control-group>'>
      <%= f.label :age %>
      <%= f.password_field :age %>
    </div>
    <div class='control-group>'>
      <%= f.label :height %>
      <%= f.password_field :height %>
    </div>
    <div class='control-group>'>
      <%= f.label :weight %>
      <%= f.password_field :weight %>
    </div>
    <div class='control-group>'>
      <%= f.label :city %>
      <%= f.password_field :city %>
    </div>
    <div class='control-group>'>
      <%= f.label :state %>
      <%= f.password_field :state %>
    </div>
    <div class='control-group>'>
      <%= f.label :school %>
      <%= f.password_field :school %>
    </div>
    <div class='control-group>'>
      <%= f.label :year %>
      <%= f.password_field :year %>
    </div>
    <div class='control-group>'>
      <%= f.label :position %>
      <%= f.password_field :position %>
    </div>
    <%= f.submit (@user.new_record? ? 'Register' : 'Update Profile') , class: 'btn btn-success' %>
  <% end %>
</div>
