<table id="user_game_stat_table">

  <thead>
    <tr>
      <% if logged_in? %>
        <td></td>
      <% end %>
      <td>Year</td>
      <td>Date</td>
      <td>Opponent</td>
      <td>Pass Att</td>
      <td>Pass Comp</td>
      <td>Pass Yds</td>
      <td>Pass TD</td>
      <td>Pass Int</td>
      <td>Rush Att</td>
      <td>Rush Yds</td>
      <td>Rush TD</td>
      <td>Rec</td>
      <td>Rec Yds</td>
      <td>Rec TD</td>
      <td>Fumbles</td>
      <td>Fumbles Lost</td>
      <td>Tackles</td>
      <td>Sacks</td>
      <td>Int</td>
      <td>FGA</td>
      <td>FGM</td>
      <td>PAT Att</td>
      <td>PAT Made</td>
    </tr>
  </thead>

  <tbody>
    <% if !@user.game_stats.nil? %>
      <% @user.game_stats.each do |game_stat| %>
        <% if game_stat.game_stat_year == year %>
          <tr>
            <% if logged_in? && same_profile? %>
              <td><%= link_to "Edit", edit_user_game_stat_path(@user, game_stat) %></td>
            <% end %>
            <td><%= game_stat.game_stat_year unless game_stat.game_stat_year.nil? %></td>
            <td><%= game_stat.date unless game_stat.date.nil? %></td>
            <td><%= game_stat.opponent unless game_stat.opponent.nil? %></td>
            <td><%= game_stat.pass_attempts unless game_stat.pass_attempts.nil? %></td>
            <td><%= game_stat.pass_completions unless game_stat.pass_completions.nil? %></td>
            <td><%= game_stat.pass_yards unless game_stat.pass_yards.nil? %></td>
            <td><%= game_stat.pass_tds unless game_stat.pass_tds.nil? %></td>
            <td><%= game_stat.pass_int unless game_stat.pass_int.nil? %></td>
            <td><%= game_stat.rush_attempts unless game_stat.rush_attempts.nil? %></td>
            <td><%= game_stat.rush_yards unless game_stat.rush_yards.nil? %></td>
            <td><%= game_stat.rush_tds unless game_stat.rush_tds.nil? %></td>
            <td><%= game_stat.receptions unless game_stat.receptions.nil? %></td>
            <td><%= game_stat.receiving_yards unless game_stat.receiving_yards.nil? %></td>
            <td><%= game_stat.receiving_tds unless game_stat.receiving_tds.nil? %></td>
            <td><%= game_stat.fumbles unless game_stat.fumbles.nil? %></td>
            <td><%= game_stat.fumbles_lost unless game_stat.fumbles_lost.nil? %></td>
            <td><%= game_stat.tackles unless game_stat.tackles.nil? %> </td>
            <td><%= game_stat.sacks unless game_stat.sacks.nil? %> </td>
            <td><%= game_stat.interceptions unless game_stat.interceptions.nil? %></td>
            <td><%= game_stat.field_goal_attempts unless game_stat.field_goal_attempts.nil? %></td>
            <td><%= game_stat.field_goals_made unless game_stat.field_goals_made.nil? %></td>
            <td><%= game_stat.pat_attempts unless game_stat.pat_attempts.nil? %></td>
            <td><%= game_stat.pat_made unless game_stat.pat_made.nil? %></td>
          </tr>

        <% end %>
      <% end %>
    <% end %>
  
    <tr>
      <td></td>
      <td></td>
      <% if logged_in? %>
        <td></td>
      <% end %>
      <td>Total</td>
      <td><%= @user.total_stat_category(year, "pass_attempts") %></td>
      <td><%= @user.total_stat_category(year, "pass_completions") %></td>
      <td><%= @user.total_stat_category(year, "pass_yards") %></td>
      <td><%= @user.total_stat_category(year, "pass_tds") %></td>
      <td><%= @user.total_stat_category(year, "pass_int") %></td>
      <td><%= @user.total_stat_category(year, "rush_attempts") %></td>
      <td><%= @user.total_stat_category(year, "rush_yards") %></td>
      <td><%= @user.total_stat_category(year, "rush_tds") %></td>
      <td><%= @user.total_stat_category(year, "receptions") %></td>
      <td><%= @user.total_stat_category(year, "receiving_yards") %></td>
      <td><%= @user.total_stat_category(year, "receiving_tds") %></td>
      <td><%= @user.total_stat_category(year, "fumbles") %></td>
      <td><%= @user.total_stat_category(year, "fumbles_lost") %></td>
      <td><%= @user.total_stat_category(year, "tackles") %></td>
      <td><%= @user.total_stat_category(year, "sacks") %></td>
      <td><%= @user.total_stat_category(year, "interceptions") %></td>
      <td><%= @user.total_stat_category(year, "field_goal_attempts") %></td>
      <td><%= @user.total_stat_category(year, "field_goals_made") %></td>
      <td><%= @user.total_stat_category(year, "pat_attempts") %></td>
      <td><%= @user.total_stat_category(year, "pat_made") %></td>
    </tr> 
  </tbody>
</table>
