<div>
  <h3><%= @user.first_name %> <%= @user.last_name %>'s Profile</h3>
</div>

<div class="row">
  <aside class="col-md-4">
    <h1> <%= gravatar_for(@user) %> </h1>
  </aside>
</div>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Name:</dt>
    <dd><%= @user.first_name %> <%= @user.last_name %><dd>
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
    <dt>Age:</dt>
    <dd><%= @user.age %></dd>  
    <dt>Height:</dt>
    <dd><%= @user.height %></dd>
    <dt>Weight:</dt>
    <dd><%= @user.weight %> lbs.</dd>
    <dt>State:</dt>
    <dd><%= @user.state %></dd> 
    <dt>City:</dt>
    <dd><%= @user.city %></dd>
    <dt>School:</dt>
    <dd><%= @user.school %></dd>
    <dt>Graduation year:</dt>
    <dd><%= @user.graduation_year %></dd>
    <dt>GPA:</dt>
    <dd><%= @user.gpa %></dd> 
    <dt>Position(s):</dt>
    <dd>
      <% @user.positions.each do |p|%>
      <%= p.position_title %>
      <% end %>
    </dd>         
  </dl>
</div>

<div id='stats'>
  <h5><%= @user.username %>'s Statistics <%= link_to "Add Game Statistics", new_user_game_stat_path(@user) if logged_in? && same_profile? %> </h5>

  <ul class='nav nav-tabs'>
    <li class='<%= 'active' if params[:tab].nil? %>'>
      <%= link_to "Freshman Stats", user_path(@user) %>
    </li>
    <li class='<%= 'active' if params[:tab] == 'sophomore' %>'>
      <%= link_to "Sophomore Stats", user_path(@user, tab: 'sophomore') %>
    </li>
    <li class='<%= 'active' if params[:tab] == 'junior' %>'>
      <%= link_to "Junior Stats", user_path(@user, tab: 'junior') %>
    </li>
    <li class='<%= 'active' if params[:tab] == 'senior' %>'>
      <%= link_to "Senior Stats", user_path(@user, tab: 'senior') %>
    </li>
  </ul>

  <% if params[:tab].nil? %>
    <p></p>
    <%= render 'user_game_stats', year: "Freshman" %>
  <% elsif params[:tab] == 'sophomore' %>
    <p></p>
    <%= render 'user_game_stats', year: "Sophomore" %>
  <% elsif params[:tab] == 'junior' %>
    <p></p>
    <%= render 'user_game_stats', year: "Junior" %>
  <% elsif params[:tab] == 'senior' %>
    <p></p>
    <%= render 'user_game_stats', year: "Senior" %>
  <% end %>
</div>